<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    @Styles.Render("~/Content/css")
    <body style="padding:0">
        <div id="wrapper">
            <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
                <div class="container-fluid d-flex flex-column p-0">
                    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                        <div class="sidebar-brand-icon rotate-n-15"><img src="~/assets/img/logo.png" alt=""  style="width:3rem"></div>
                        <div class="sidebar-brand-text mx-3"><span>FPT-Training <br /> System</span></div>
                    </a>
                    <hr class="sidebar-divider my-0">
                    <ul class="nav navbar-nav text-light" id="accordionSidebar">
                        @if (User.IsInRole("ADMIN"))
                        {
                            <li class="nav-item" style="padding:25px 100px 15px 0px; display:flex; align-items: center"><i class="fas fa-user" style="margin-right:8px"></i>@Html.ActionLink("Account Staff", "Index", "Staffs", null, new { Style = "color:white" })</li>
                            <li class="nav-item" style="padding:25px 75px  15px 0px; display:flex; align-items: center"><i class="fas fa-user" style="margin-right:8px"></i>@Html.ActionLink("Account Trainer", "Index", "Trainers", null, new { Style = "color:white" })</li>
                            <li class="nav-item" style="padding:15px 100px 15px 0px"><i class="fas fa-user-circle" style="margin-right:8px"></i>@Html.ActionLink("Register", "Register", "Account", null, new { Style = "color:white" })</li>
                        }
                        @if (User.IsInRole("STAFF"))
                        {
                            <li class="nav-item" style="padding:25px 70px 15px 0px"><i class="fas fa-tachometer-alt" style="margin-right:8px"></i><span>Dashboard</span></li>
                            <li class="nav-item" style="padding:25px 70px 15px 0px; display:flex; align-items: center"><i class="fas fa-user" style="margin-right:8px"></i>@Html.ActionLink("Manage Trainer", "Index", "Trainers", null, new { Style = "color:white" })</li>
                            <li class="nav-item" style="padding:25px 70px 15px 0px; display:flex; align-items: center"><i class="fas fa-user" style="margin-right:8px"></i>@Html.ActionLink("Manage Trainee", "Index", "Trainees", null, new { Style = "color:white" })</li>
                            <li class="nav-item" style="padding:25px 70px 15px 0px"><i class="fas fa-table" style="margin-right:8px"></i>@Html.ActionLink("Manage Course", "Index", "Courses", null, new { Style = "color:white" })</li>
                            <li class="nav-item" style="padding:25px 70px 15px 0px"><i class="fas fa-tags" style="margin-right:8px"></i>@Html.ActionLink("Manage Category", "Index", "Categories", null, new { Style = "color:white" })</li>
                            <li class="nav-item" style="padding:15px 100px 15px 0px"><i class="fas fa-user-circle" style="margin-right:8px"></i>@Html.ActionLink("Register", "Register", "Account", null, new { Style = "color:white" })</li>
                        }
                        @if (User.IsInRole("TRAINER"))
                        {
                            <li class="nav-item" style="padding:25px 100px 15px 0px; display:flex; align-items: center"><i class="fas fa-user" style="margin-right:8px"></i>@Html.ActionLink("View Assigned Course", "ViewCourse", "TrainerRoles", null, new { Style = "color:white" })</li>
                        }
                        @if (User.IsInRole("TRAINEE"))
                        {
                            <li class="nav-item" style="padding:25px 100px 15px 0px; display:flex; align-items: center"><i class="fas fa-user" style="margin-right:8px"></i>@Html.ActionLink("View Assigned Course", "ViewCourse", "TraineeRoles", null, new { Style = "color:white" })</li>
                        }

                    </ul>
                    <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
                </div>
            </nav>
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav flex-nowrap ml-auto">
                                <div class="d-none d-sm-block topbar-divider"></div>
                                <li class="nav-item dropdown no-arrow">
                                    <div class="nav-item dropdown no-arrow">
                                        @if (User.IsInRole("TRAINER"))
                                        {
                                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="/TrainerRoles/Profile"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="~/assets/img/avatars/avatar1.jpeg"></a>
                                        }
                                        else if (User.IsInRole("TRAINEE"))
                                        {
                                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="/TraineeRoles/Profile"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="~/assets/img/avatars/avatar1.jpeg"></a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="/Account/Profile"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="~/assets/img/avatars/avatar1.jpeg"></a>
                                        }
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                                            @if (User.IsInRole("TRAINER"))
                                            {
                                                <a class="dropdown-item" href="/TrainerRoles/Profile"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                            }
                                            else if (User.IsInRole("TRAINEE"))
                                            {
                                                <a class="dropdown-item" href="/TraineeRoles/Profile"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item" href="/Account/Profile"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                            }
                                        
                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="/Account/Logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    @if (TempData["MessageSuccess"] != null)
                    {
                        <div class="alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            @TempData["MessageSuccess"]
                        </div>

                    }
                    @if (TempData["MessageError"] != null)
                    {
                        <div class="alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            @TempData["MessageError"]
                        </div>

                    }
                    @RenderBody()

                </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

            </div>
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/js/chart.min.js"></script>
            <script src="assets/js/bs-init.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
            <script src="assets/js/theme.js"></script>
            @RenderSection("scripts", required: false)
        </div>
    </body>
</html>