@model FPT_Trainning.Models.Course
@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";}

<h2>Task Details</h2>

@Html.ActionLink("Back to My Courses", "Index", "Courses",
    null,
    new { @class = "btn btn-primary" })

<table class="table table-bordered">
    <thead>
        <tr style="background-color:burlywood ;color:black; text-align:center; font-weight:bold">
            <th>Course #</th>
            <th>Course Name</th>
            <th>Course Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="color:black; text-align:center">
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>
@Html.ActionLink("Go to AssignCourse", "Index", "Assign",
    new { id = Model.Id }, new { @class = "btn btn-dark" })

