@model IEnumerable<FPT_Trainning.Models.Course>
@{ ViewBag.Title = "Index"; }

<h2>Index Course</h2>

@Html.ActionLink("Create new Course", "Create", "Courses",
    null,
    new { @class = "btn btn-primary" })

@using (Html.BeginForm("Index", "Courses", "POST"))
{
<div class="form-group">
    <label for="fname">Search by Course Name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <button type="submit" class="btn btn-primary">Search</button>
</div>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course #</th>
            <th>Course Name</th>
            <th>Course Description</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.Id</td>
    <td>@item.Name</td>
    <td>@item.Description)</td>
    <td>@item.Category.Name</td>
    <td>
        @Html.ActionLink("Details", "Details", "Courses",
                                              new { id = item.Id },
                                              new { @class = "btn btn-primary" })
        @Html.ActionLink("Update this Course", "Update", "Courses",
                                              new { id = item.Id },
                                              new { @class = "btn btn-dark" })
        @Html.ActionLink("Delete this Course", "Delete", "Courses",
                                              new { id = item.Id },
                                              new { @class = "btn btn-danger" })
    </td>
</tr>}
    </tbody>
</table>

@Html.ActionLink("Go to Category Page", "Index", "Categories",
    null,
    new { @class = "btn btn-primary" })