@model FPT_Trainning.ViewModel.ListTrainerAndTraineeInCourse
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Course.Name</h2>
<div class="container-fluid">
    <div class="card" id="TableSorterCard">
        <div class="card-header py-3">
            <div class="row table-topper align-items-center">
                <div class="col-12 col-sm-5 col-md-6 text-left" style="margin: 0px;padding: 5px 15px;">
                    <p class="text-primary m-0 font-weight-bold">List Assign Trainer</p>
                </div>
            </div>
            <div class="col-12 col-sm-5 col-md-6 text-right" style="margin: 0px;padding: 5px 15px;">
                @Html.ActionLink("Add Trainer Assign", "AddTrainerAssign", "Assign",
                                             new { id = Model.Course.Id },
                                             new { @class = "btn btn-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped table tablesorter" id="ipi-table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">UserName</th>
                                <th class="text-center">FullName</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Working Place</th>
                                <th class="text-center">Education</th>
                                <th class="text-center">Type</th>
                                <th class="text-center filter-false sorter-false">Acction</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var item in Model.Trainers)
                            {
                                <tr>
                                    <td>@item.ApplicationUser.UserName</td>
                                    <td>@item.ApplicationUser.FullName</td>
                                    <td>@item.Phone</td>
                                    <td>@item.WorkingPlace</td>
                                    <td>@item.Education</td>
                                    <td>@item.Type</td>
                                    <td>
                                        @using (Html.BeginForm("DeleteTrainerAssign", "Assign", "POST"))
                                        {
                                            <div class="form-group">
                                                <input type="hidden" name="CourseId" value="@Model.Course.Id">
                                                <input type="hidden" name="TrainerId" value="@item.TrainerId">

                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Delete Trainer Assign</button>
                                            </div>
                                        }
                                        @Html.ActionLink("Change Trainer Assign", "ChangeTrainerAssign", "Assign",
                                                         new { CourseId = Model.Course.Id,
                                                             TrainerId = item.TrainerId},
                                                         new {@class = "btn btn-warning"})
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card" id="TableSorterCard">
        <div class="card-header py-3">
            <div class="row table-topper align-items-center">
                <div class="col-12 col-sm-5 col-md-6 text-left" style="margin: 0px;padding: 5px 15px;">
                    <p class="text-primary m-0 font-weight-bold">List Assign Trainees</p>
                </div>
            </div>
            <div class="col-12 col-sm-5 col-md-6 text-right" style="margin: 0px;padding: 5px 15px;">
                @Html.ActionLink("Add Trainee Assign", "AddTraineeAssign", "Assign",
                                             new { id = Model.Course.Id },
                                             new { @class = "btn btn-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped table tablesorter" id="ipi-table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">UserName</th>
                                <th class="text-center">ProgramLanguage</th>
                                <th class="text-center">Age </th>
                                <th class="text-center">DOB</th>
                                <th class="text-center">Experience </th>
                                <th class="text-center">Location</th>
                                <th class="text-center">ToeicScore</th>
                                <th class="text-center filter-false sorter-false">Acction</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var item in Model.Trainees)
                            {
                            <tr>
                                <td>@item.ApplicationUser.UserName</td>
                                <td>@item.ProgramLanguage</td>
                                <td>@item.Age</td>
                                <td>@item.DOB</td>
                                <td>@item.Experience</td>
                                <td>@item.Location</td>
                                <td>@item.ToeicScore</td>
                                <td>
                                    @using (Html.BeginForm("DeleteTraineeAssign", "Assign", "POST"))
                                    {
                                        <div class="form-group">
                                            <input type="hidden" name="CourseId" value="@Model.Course.Id">
                                            <input type="hidden" name="TraineeId" value="@item.TraineeId">

                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Delete Trainee Assign </button>
                                        </div>
                                    }
                                    @Html.ActionLink("Change Trainee Assign", "ChangeTraineeAssign", "Assign",
                                                         new { CourseId = Model.Course.Id,
                                                             TraineeId = item.TraineeId},
                                                         new {@class = "btn btn-warning"})
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("Back to Courses Detail", "Details", "Courses",
  new { id = Model.Course.Id },
  new { @class = "btn btn-primary" })
