@model IEnumerable<FPT_Trainning.Models.Category>
﻿
@{
    ViewBag.Title = "Index";
}

<h2 style="margin-left: 20px; padding-bottom: 20px">Manage Category</h2>
@Html.ActionLink("Create New Category", "Create", "Categories", null, new { @class = "btn btn-primary", style = "margin-left:20px" })
@using (Html.BeginForm("Index", "Categories", "POST"))
{
    <div class="form-group" style="margin-left: 20px">
        <label for="fname">Search by Category Name:</label><br>
        @Html.TextBox("searchInput", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="margin-left: 20px">Search</button>
    </div>
}
<table class="table table-bordered" style="margin-left: 20px">
    <thead>
        <tr style="background-color:burlywood ;color:black; text-align:center; font-weight:bold">
            <th>Category #</th>
            <th>Category Name</th>
            <th>Category Desciption</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="color:black; text-align:center">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Categories",
                                             new { id = item.Id },
                                             new { @class = "btn btn-primary" })
                    @Html.ActionLink("Update", "Update", "Categories",
                                              new { id = item.Id },
                                              new { @class = "btn btn-dark" })
                    @Html.ActionLink("Delete", "Delete", "Categories",
                                             new { id = item.Id },
                                             new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Back to Courses Index", "Index", "Courses",
    null,
    new { @class = "btn btn-primary", style = "margin: 20px 0px 0px 20px" })